.list-item {
  height: 112;
}

.list-item text {
  fill: "white";
  x: 50%;
  text-anchor: middle;
  font-size: 24;
}

.header text {
  font-weight: bold;
  fill: fb-purple;
  font-size: 40;
  text-anchor: start;
  x: 20%;
}

.header image {
  width: 40;
  height: 40; 
  x: 80%-40;  
  y: 50%-18; 
}

.header image.tiles {
  href: "src/tiles.png";
}

.header image.list {
  href: "src/list.png";
}

#touch {
  width: 100%;
  height: 100%-6;
  x: 0;
  y: 0;
  opacity: 0;
}


.dot_4 #d1 {
  cx: 20%;
}
.dot_4 #d2 {
  cx: 40%;
}
.dot_4 #d3 {
  cx: 60%;
}
.dot_4 #d4 {
  cx: 80%;
}

.dot_3 #d1 {
  cx: 30%;
}
.dot_3 #d2 {
  cx: 50%;
}
.dot_3 #d3 {
  cx: 70%;
}

.dot_2 #d1 {
  cx: 40%;
}
.dot_2 #d2 {
  cx: 60%;
}

.dot_1 #d1 {
  cx: 50%;
}